{rebar_plugins, [agner_rebar_plugin]}.
{lib_dirs, ["deps", "deps/jsx/deps/","deps/ex_uri/deps"]}.
{erl_opts, [debug_info,
            {i,"deps/proper/include/"},
            {i,"deps/ex_uri/include/"}
           ]}.
{deps, [{ex_uri, ".*", {git, "https://github.com/extend/ex_uri.git", {branch, "master"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}]}.
